* {
    background-color: rgb(250, 214, 214);
    font-size: 25px;
    font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;

}

h1 {
    color: rgb(165, 68, 79);
    text-align: center;
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    font-size: 60px;
    text-shadow: 5px 5px rgb(189, 131, 126);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    
}

img {
    height: 700px;
    border-radius: 20px;
    border: 2px solid rgb(176, 82, 82);
    flex-shrink: 1;
    margin: 20px;
    
}

.container {

    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    height: 700px;
}

.text, .ingredients, .for {
    border: 2px solid rgb(176, 82, 82);
    border-radius: 20px;
    padding: 20px;
    background:linear-gradient(to bottom left,  rgb(250, 208, 208) 40%, rgb(176, 82, 82) 99%);
    box-shadow: 5px 5px rgb(189, 131, 126);

}


.side {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    margin: 0px 20px 0px 0px;
    width: auto;
    height: 700px;
    box-sizing: border-box;
    flex-basis: 350px;
    flex-shrink: 1;
    flex-grow: 1;
}

.text {
    padding: 50px;
    margin: 20px;
    flex-basis: 500px;
    box-sizing: border-box;
    width: 600px;
    text-align: center;
    flex-grow: 3;
}

.ingredients, .for {
    width: 350px;
}

.ingredients {
    margin-bottom: 40px;
}

p, h2, ul, li, em {
    background-color: transparent;
}
