h1 {
    color: var(--h1color);
    text-align: center;
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    font-size: 60px;
    text-shadow: var(--shadow);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;


}

* {
    background-color: var(--background);
    font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height:950px;
}

.header {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    border-bottom: solid #000000 1px;
    flex-wrap: wrap;
    padding: 20px 0 20px 0;

}

.head {
    background-color: var(--button-background);
    height: 50px;
    border-radius: 15px;
    font-size: 20px;
    box-shadow: var(--shadow);
    color: black;
    text-transform: none;
}

#query {
   height: 50px;
   border-radius: 15px;
   font-size: 20px;
   box-shadow: var(--shadow);
   margin-right: 7px;
   padding-left: 3px;
}

.sort {
    width: 400px;
    flex-shrink: 1;
    
}


.theme {
    width: 100px;
    background:var(--theme-button);
}

img {
    width: 100px;
    height: 100px;
}

.searchy {
    padding: 0px 7px 0px 7px;
}

/* TREE PART */

.container {
    display:grid;
    justify-content: center;
    margin-top: 50px;
}

.tree {
    width: 100%;
    height: auto;
    text-align: center;
    display: inline-table;
    

}

.tree ul {
    padding-top: 20px;
    position: relative;
    transition: .5s;
    
}

.tree li {
    display: inline-table;
    text-align: center;
    list-style-type: none;
    position: relative;
    padding: 30px;
    transition: .5s;

}

.tree li:before, .tree li:after {
    content: '';
    position: absolute;
    top: 0;
    right: 50%;
    border-top: 1px solid rgb(0, 0, 0);
    width: 51%;
    height:30px;

}

.tree li:after {
    right: auto;
    left: 50%;
    border-left: 1px solid rgb(0, 0, 0);
}

.tree li:only-child:after, .tree li:only-child:before {
    content: '';
    position: absolute;
    top: -31px;
    right: 49.5%;
    border-top: 1px solid rgb(0, 0, 0);
    height: 31px;
    width:1px;
   
}

.tree li:only-child {
    padding-top: 0;
}

.tree li:first-child:before, .tree li:last-child:after {
    border: 0 none;
}

.tree li:last-child:before {
    border-right:1px solid black;
    border-radius: 0px 5px 0px 0px;

}

.tree li:first-child:after {
    border-radius: 5px 0px 0px 0px;
}

.tree ul ul:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    border-left: 1px solid black;
    width: 0;
    height: 20px;

}

.tree a {
    border: 1px solid black;
    padding: 10px;
    display: inline-grid;
    border-radius: 50px;
    text-decoration-line: none;
    border-radius: 5px;
    transition: .5s;
    background-color: var(--tree-color);

}

.tree a img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px !important;
    border-radius: 100px;
    margin: auto;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
}

button {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    color: var(--tree-text);
    padding: 8px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: var(--button-background);
    box-shadow: none;
    box-sizing: border-box;


}

.kid {
    margin-top: 30px;

}

li.grandparent::after, li.grandparent::before {
    top: 150px;
    border-top: 0 none;
    margin-top: 42px;
}


li.grandparent::before {
    content: '';
    position: absolute;
    top: 180;
    right: 50%;
    border-bottom: 1px solid rgb(0, 0, 0);
    width: 51%;
    height: 31px;
    border-top: 0 none;

}

li.grandparent.f::after {
    content: '';
    position: absolute;
    top: 151px;
    right: 50%;
    border-bottom: 1px solid rgb(0, 0, 0);
    width: 51%;
    height: 30px;
    border-radius: 0;
}

li.grandparent.m::after {
    top: 152px;

}

/* theme */

:root {

--h1color: rgb(165, 68, 79);
--shadow: 5px 5px rgb(189, 131, 126);
--background: rgb(251, 204, 204);
--button-background: rgb(248, 221, 221);
--tree-text: rgb(71, 2, 2);
--tree-color: rgb(118, 54, 62);
--theme-button: linear-gradient(150deg, rgb(248, 221, 221) 70%, rgb(210, 217, 248 ) 70%);

}

.darkmode {

--h1color: rgb(68, 86, 165);
--shadow: 5px 5px rgb(126, 142, 189);
--background: rgb(166, 183, 245);
--button-background: rgb(210, 217, 248);
--tree-text: rgb(2, 16, 71);
--tree-color: rgb(54, 60, 118);
--theme-button: linear-gradient(150deg,rgb(210, 217, 248) 70%,  rgb(248, 221, 221) 70%);

}